body{
    background-color: rgb(29, 29, 29);
    font-family: 'Roboto Mono', monospace;
    font-size: 10pt;
    color: rgb(255, 255, 255);
    text-align: center;
}

.Uppertext{
    text-transform: uppercase;
}

.italic-text{
    font-style: italic;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 12pt;
    color: rgb(204,0,0);
    font-weight: bold;
    text-align: center;
    margin-top: 30;
    margin-bottom: 12;
}

img {
    width: 450px;
    height: 400px;
}